<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script src="/assets/main.bundle.js" defer></script>
    {% seo "" %}
  </head>

  <body class="flex flex-col min-h-screen {{ 'debug-screens' if env.devMode }}">
    {% include 'components/header.njk' %}
    <main class="flex-1">
      {{ content | safe }}
    </main>
    {% include 'components/footer.njk' %}
    <script src="/scripts/open-hours.js" charset="utf-8"></script>
    <script>
      const hours = {
        "Monday": {
          start: 900,
          end: 1700
        },
        "Tuesday": {
          start: 900,
          end: 1700
        },
        "Wednesday": {
          start: 1500,
          end: 1900
        },
        "Thursday": {
          start: 900,
          end: 1700
        },
        "Friday": {
          start: 900,
          end: 1700
        },
        "Saturday": {
          start: 900,
          end: 1300
        },
        "Sunday": {}
      }

      OpenHours.generateTime(hours)
    </script>
  </body>

</html>