---
title: Bespoke Orthotics | Biomechanics
description: 'Preston Podiatry offers treatment, diagnosis and advice for the whole range of foot and lower limb related problems.'
layout: layouts/layout.njk
permalink: /about/
---

<section
  class="bg-[url('../img/about-banner.jpg')] h-64 md:min-h-50% w-full bg-no-repeat bg-cover bg-bottom grid place-items-center text-white"
>
  <h1 class="text-4xl">About Us</h1>
</section>

<!-- component -->
<section class="bg-white h-full dark:bg-zinc-600">
  <div class="container px-6 py-10 mx-auto">
    <div class="xl:flex xl:items-center xl:-mx-4">
      <div class="xl:w-1/2 xl:mx-4">
        <h2
          class="text-2xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
        >
          About
        </h2>

        <p class="max-w-2xl mt-4 text-gray-500 dark:text-gray-300">
          Samantha Scanlon is registered with the Society of Chiropody and
          Podiatry. Samantha studied at Salford University and gained a bachelor
          of science degree with honours in Podiatry.
        </p>
        <p class="max-w-2xl mt-4 text-gray-500 dark:text-gray-300">
          As well as helping patients with routine daily footcare for patients
          with chronic health conditions, (e.g Diabetes, rheumatoid arthritis),
          Her aspiration is to succeed within the sports area of biomechanics,
          making bespoke orthotics to help prevent further injuries while
          playing sport.
        </p>
        <p class="max-w-2xl mt-4 text-gray-500 dark:text-gray-300">
          Within the clinic practices will be a nail surgery clinic that will
          run every other Saturday, this will give patients the opportunity to
          have any required procedures carried out at a more convenient time out
          of work hours and much quicker than waiting for an appointment within
          the NHS.
        </p>
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 items-center gap-8 mt-8 xl:mt-0 xl:mx-4 xl:w-1/2 xl:grid-cols-1"
      >
        <div>
          <img
            class="object-cover rounded-xl w-1/2 sm:w-full lg:w-3/4 xl:w-1/2"
            src="../public/society-of-chiropodists-and-podiatrists-logo.png"
            alt="Society of Chiropodists and Podiatrists"
/>
        </div>
        <div>
          <h1
            class="mt-4 text-2xl font-semibold text-gray-700 capitalize dark:text-white"
          >
            Samantha Scanlon
          </h1>

          <p class="mt-2 text-zinc-500 capitalize dark:text-gray-200">
            BSc (Hons) Podiatry
          </p>
        </div>
      </div>
    </div>
  </div>
</section>