---
title: Bespoke Orthotics | Biomechanics
description: 'Get in touch with us for your feet, biomechanical and gait analysis needs'
layout: layouts/layout.njk
permalink: /contact/
---

<section class="py-12 px-8 md:py-24 md:px-12 lg:px-28">
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-items-center gap-6"
  >
    <h1
      class="font-semibold text-primary text-2xl md:text-3xl col-span-full mb-4"
    >
      Our Contact Details:
    </h1>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mx-auto"
        height="38px"
        viewBox="0 0 24 24"
        width="38px"
        fill="#000000"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M20.01 15.38c-1.23 0-2.42-.2-3.53-.56-.35-.12-.74-.03-1.01.24l-1.57 1.97c-2.83-1.35-5.48-3.9-6.89-6.83l1.95-1.66c.27-.28.35-.67.24-1.02-.37-1.11-.56-2.3-.56-3.53 0-.54-.45-.99-.99-.99H4.19C3.65 3 3 3.24 3 3.99 3 13.28 10.73 21 20.01 21c.71 0 .99-.63.99-1.18v-3.45c0-.54-.45-.99-.99-.99z"
        />
      </svg>
      <a href="tel:+44 1772 930720">01772 930720</a>
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mx-auto"
        height="38px"
        viewBox="0 0 24 24"
        width="38px"
        fill="#000000"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path
          d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"
        />
      </svg>
      <a href="mailto:info@prestonpodiatry.co.uk">info@prestonpodiatry.co.uk</a>
    </div>
    <div class="md:col-span-full lg:col-span-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="mx-auto"
        height="38px"
        viewBox="0 0 24 24"
        width="38px"
        fill="#000000"
      >
        <path d="M0 0h24v24H0z" fill="none" />
        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" />
      </svg>
      <address class="not-italic text-center">
        13A Station Rd, Bamber Bridge, Preston, PR5 6QR
      </address>
    </div>
  </div>
</section>

<!-- component -->
<section
  class="h-full flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2
        class="mt-6 text-center text-xl md:text-3xl font-extrabold text-gray-900"
      >
        Contact Us
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600"></p>
    </div>
    <form
      class="mt-8 space-y-6"
      name="contact"
      method="POST"
      data-netlify="true"
      netlify-honeypot="remember"
    >
      <p class="absolute top-0 left-0 right-0 bottom-0 opacity-0 sr">
        <label for="name" aria-hidden="true">
          <input
            type="hidden"
            name="remember"
            value="True"
            aria-hidden="true"
          />
        </label>
      </p>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email address"
          />
        </div>
        <div>
          <label for="name" class="sr-only">Name</label>
          <input
            id="name"
            name="name"
            type="text"
            autocomplete="name"
            required
            class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Name"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Password"
          />
        </div>
      </div>
      <div>
        <button
          type="button"
          class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-md dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 w-full"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
