---
title: Bespoke Orthotics | Biomechanics
description: 'Preston Podiatry offers treatment, diagnosis and advice for the whole range of foot and lower limb related problems.'
layout: layouts/layout.njk
permalink: /
---

<section
  class="bg-[url('../public/podiatry-banner.jpg')] h-64 min-h-75% w-full bg-no-repeat bg-cover bg-top grid place-items-center text-white"
>
    <h1 class="text-4xl">Welcome to Preston Podiatry</h1>
</section>