---
title: Bespoke Orthotics | Biomechanics
description: 'Preston Podiatry offers treatment, diagnosis and advice for the whole range of foot and lower limb related problems.'
layout: layouts/layout.njk
permalink: /prices/
---

<section class="relative flex items-center justify-center">
  <img src="../public/treatment-banner.jpg" class="max-h-50% h-full w-full relative object-cover object-center" alt=""></img>
  <div class="bg-black bg-opacity-40 w-full h-full absolute top-0 left-0"></div>
  <h1 class="text-3xl md:text-5xl font-medium absolute text-white">Treatments and Prices</h1>
</section>

<section class="max-w-screen-xl mx-auto my-8 text-center">
  <h2 class="text-3xl font-bold mb-8">Podiatry</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 sm:gap-4 px-4 sm:px-24 text-white place-items-center font-semibold">
    <div class="px-12 py-8 bg-green-500 rounded-lg w-full h-full">
      <h3 class="text-lg">New Patient Consultation</h3>
      <p>&pound;28.00</p>
    </div>
    <div class="px-12 py-8 bg-green-500 rounded-lg w-full h-full">
      <h3 class="text-lg">Nail Reconstruction from:</h3>
      <p>&pound;45.00</p>
    </div>
    <div class="px-12 py-8 bg-green-500 rounded-lg w-full h-full">
      <h3 class="text-lg">Home Visit (local area only)</h3>
      <p>&pound;35.00</p>
    </div>
    <div class="px-12 py-8 bg-green-500 rounded-lg w-full h-full">
      <h3 class="text-lg">Nail Surgery (including all dressing appointments)</h3>
      <p>&pound;250.00</p>
    </div>
  </div>
</section>

<section class="max-w-screen-xl mx-auto my-8 text-center">
  <h2 class="text-3xl font-bold mb-8">Podiatry And Gait Analysis</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 sm:gap-4 px-4 sm:px-24 text-white font-semibold">
    <div class="px-12 py-8 bg-green-500 rounded-lg">
      <h3 class="text-lg">Podiatry Consultation</h3>
      <p>&pound;35.00</p>
    </div>
    <div class="px-12 py-8 bg-green-500 rounded-lg">
      <h3 class="text-lg">Gait and Biomechanical Assessment</h3>
      <p>&pound;50.00</p>
    </div>
  </section>
  <div class="max-w-screen-xl mx-auto text-center mb-12">
    <h2>For all enquires please fill out the form here</h2>
    <a href="/contact">
      <button
    type="button"
    class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-lg px-8 py-2.5 text-center mr-2 my-6 w-fit"
    >
    Contact Us
    </button>
    </a>
  </div>